.allSalesOrders  td:nth-child(-n+2)
{
	min-width: 300px;
	padding: 5px;
	margin: 5px;
}
.allSalesOrders  td:first-child
{
	border-left: 1px solid grey;
}
.allSalesOrders  td:last-child
{
	border-right: 1px solid grey;
}
.allSalesOrders:last-child td
{
	border-bottom: 1px solid grey;
}
.allSalesOrders:first-child td
{
	border-top: 1px solid grey;
}
.allSalesOrders  td:nth-child(n+3)
{
	padding: 5px;
	margin: 5px;
}
.expanded-table table
{
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid black;
}
.allSalesOrders td:nth-child(-n+2)
{
	border-right: 1px solid grey;
}
#salesName
{
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.addProductDetails td 
{
	padding: 5px;
	margin: 5px;
	border: 1px solid grey;
}

.prodHeaders, .prodHeadButton
{
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.prodHeaders
{
	width: 12.5%;
	padding: 5px;
	margin: 5px;
}
.prodHeaders:first-child
{
	min-width: 150px;
}

.prodTableHeader
{
	width: 12.5%;
	padding: 5px;
	margin: 5px;
}
.prodTableHeader:not(:last-child)
{
	border-right: 1px solid black;
}
.prodTableHeader:first-child
{
	min-width: 150px;
}
table
{
	max-width: 100%;
}

.prodHeadButton
{
	padding: 6px 12px;
	margin: 0;
	font-size: 14px;
}

