tr td
{
	width: 12.5%;
	padding: 5px;
	margin: 5px;
	border-bottom: .5px solid grey;
	border-top: .5px solid grey;
	border-right: 1px solid grey;
}
tr td:first-child
{
	min-width: 150px;
	border-left: 1px solid grey;
}
.inputField
{
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.inputField
{
	width: 12.5%;
	padding: 5px;
	margin: 5px;
	border-bottom: 1px solid grey;
}
.inputField:not(:last-child)
{
	border-right: 1px solid grey;
}
.inputField:first-child
{
	min-width: 150px;
}
table
{
	max-width: 100%;
}