<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">

	  	<div class="navbar-header">
				<a href="#" class="navbar-brand">AS Company</a>
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
	    			<li><a routerLink="salesorder" class="nav-item nav-link" role="button" routerLinkActive="active">Sales Orders</a></li>
	    			<li><a routerLink="add" class="nav-item nav-link" role="button" routerLinkActive="active">Add</a></li>
				</ul>
			</div>
		</div>
</nav>

<router-outlet></router-outlet>
